body {
    font-family: 'Arial', sans-serif;
    background-color: #D9A762;
    color: #333;
    margin: 0;
    padding: 5px;
    text-align: center; 
}

header {
    background-color: black;
    color: #FFF;
    padding: 10px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px auto; 
    display: block;
}

ul {
    list-style-type: none;
    padding: 20px;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

section {
    margin: 0 auto; 
    max-width: 800px;
}

footer {
    margin-top: 50px;
}
